:root {
  --main-text-color: #333333;
  --primary-color: #946135;
  --secondary-color: #D89C55;
  --main-bg-color: #F9F7F4;
  --bg-drk-color: #DBC7B0;
  --bg-light-color: #FBF5EE;
  --social-icon: #50514D;

  --font-arial: 'Arial', sans-serif;
  --font-lato: 'Lato', sans-serif;
  --font-abril: 'Abril Fatface', cursive;
  --font-delius: 'Delius Swash Caps', cursive;
  --font-awesome: 'FontAwesome';
}

@font-face {
  font-family: 'Arial';
  font-weight: bold;
  src: url('../font/ArialMdm.ttf');
}

@font-face {
  font-family: 'Lato';
  font-weight: medium;
  src: url('../font/Lato-Medium.ttf');
}

@font-face {
  font-family: 'Abril Fatface';
  font-weight: regular;
  src: url('../font/AbrilFatface-Regular.ttf');
}

@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  src: url(../font/fontawesome-free-6.0.0-web);
}

@font-face {
  font-family: "Delius Swash Caps";
  font-weight: normal;
  src: url('../font/DeliusSwashCaps-Regular.ttf');
}

h1 {
  color: var(--primary-color);
  font-size: 55px;
  font-family: var(--font-arial);
}

h2 {
  color: var(--primary-color);
  font-size: 35px;
  font-family: var(--font-arial);
}

h4 {
  color: var(--primary-color);
  font-size: 40px;
  font-family: var(--font-delius);
}

h5{
  color: var(--main-text-color);
}

p {
  display: -webkit-box;
  font-size: 16px;
  line-height: 1.8;
  font-family: var(--font-lato);
}

.ico-span {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  line-height: 110px;
  background-color: var(--bg-light-color);
  transform: rotate(45deg);
}

.icon-bg {
  width: 63px;
  height: 63px;
  margin: 0 auto;
  line-height: 74px;
  background-color: var(--bg-light-color);
}

.card-title {
  color: var(--primary-color);
  font-size: 20px;
  font-family: var(--font-delius);
}

.btn-outline-primary {
  border-color: var(--primary-color);
  color: var(--primary-color);
  background-color: #FFFFFF;
  --bs-btn-active-bg: var(--primary-color);
  --bs-btn-active-border-color: var(--primary-color);
}

.btn-outline-primary:hover {
  border-color: var(--primary-color);
  color: #FFFFFF;
  background-color: var(--primary-color);
}

.cmn-visual {
  height: 400px;
  text-align: center;
  background-image: url(../img/cmn_bg.jpg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
}

.mb {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {

  .ico-span {
    width: 70px;
    height: 70px;
    line-height: 70px;
  }

  .icon-bg {
    width: 63px;
    height: 63px;
  }

  h2 {
    font-size: 25px;
  }

  .mb {
    display: block;
  }

  .pc {
    display: none;
  }

}

@media screen and (max-width: 767.9px) {
  .cmn-visual {
    height: 375px;
  }

  .mb {
    display: block;
  }

  .pc {
    display: none;
  }

  .ico-span {
    width: 70px;
    height: 70px;
    line-height: 80px;
  }

  .icon-bg {
    width: 63px;
    height: 63px;
  }

  h1 {
    font-size: 5vw;
    color: var(--primary-color);
  }

  h2 {
    font-size: 4.5vw;
  }

  h4 {
    font-size: 6vw;
  }

  p {
    font-size: 4vw;
  }

}
