header h1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 55px;
  font-family: var(--font-arial);
}

.logo {
  margin-right: 0;
  color: var(--secondary-color);
  font-size: 47px;
  font-family: var(--font-abril);
}

.logo:hover {
  color: var(--bg-light-color);
}

header .navbar-toggler:focus {
  outline: 0;
  text-decoration: none;
  box-shadow: unset;
}

header .breadcrumb-item a {
  color: var(--secondary-color);
  font-size: 25px;
  font-family: var(--font-arial);
}

header .breadcrumb-item.active {
  color: #FFFFFF;
  font-size: 25px;
  font-family: var(--font-arial);
}

header .breadcrumb-item+.breadcrumb-item::before {
  padding: 0 20px;
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 25px;
  font-family: 'FontAwesome';
  content: '\f105';
}

header .nav-link {
  color: var(--primary-color);
  font-size: 20px;
  font-family: var(--font-delius);
  background-color: rgba(255, 255, 255, 50%);
}

header .nav-link:hover {
  color: var(--primary-color);
  background-color: #FFFFFF;
}

header .nav-link.active {
  color: var(--primary-color);
  background-color: #FFFFFF;
}

header .navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 6px;
  padding-left: 6px;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {

  header .nav-link {
    font-size: 18px;
    font-family: var(--font-delius);
    background-color: unset;
  }

  header .nav-link:hover {
    color: var(--bs-navbar-active-color);
    background-color: unset;
  }

  header .nav-link.active {
    color: var(--bs-navbar-active-color);
    background-color: unset;
  }
}

@media screen and (max-width: 767.9px) {
  .logo {
    font-size: 8vw;
  }

  header .nav-link {
    background-color: unset;
  }

  header .nav-link:hover {
    color: var(--bs-navbar-active-color);
    background-color: unset;
  }

  header .nav-link.active {
    color: var(--bs-navbar-active-color);
    background-color: unset;
  }
}
