.health-sec {
  background-color: var(--main-bg-color);
}

.health-sec .nav-link {
  color: var(--main-text-color);
  font-size: 20px;
  background-color: #F3F3F3;
}

.health-sec .nav-link.active {
  border-left: 2px solid var(--primary-color);
  color: var(--main-text-color);
  background-color: #FFFFFF;
}

.health-sec ul li::before{
  padding-right: 10px;
  color: var(--primary-color);
  font-family: 'FontAwesome';
  content: '\f69a';
}

@media screen and (max-width: 767.9px){
  .health-sec .bg-white{
    display: none;
  }
}
